extends ./layout
block content
  a-scene
    //Assets
    a-assets
      img(id="box" src="img/tex/box.jpg")
      img(id="sky" src="img/tex/sky_lightblue.jpg")
      img(id="dirt" src="img/tex/dirt.jpg")

    //Remote
    a-entity(daydream-controller)

    //Entities
    a-box(id="main-box" depth="1" width="1" height="1"
      opacity="1" position="1 1 -5"
      src="#box"
      color="#DDD"
      interactable="color: #FFF; message_id: main-box-text;"
      message="This is a box"
    )
      a-entity(
        id="main-box-text"
        position="1 2 0" scale="1.5 1.5 1.5" geometry="primitive:plane"
        interactable-text="text: This is a box; color: white; align: center; width: 200"
      )

    //Lighting
    a-light(type="spot" color="#FAA" position="2 2 0" look-at="main-box")
    a-light(type="point" color="#AAA" position="0 10 0")

    //Ground
    a-entity(
      position="0 0 0"
      geometry="primative: plane; width: 25; height: 25;"
      rotation="-90 0 0"
      material="src: #dirt; repeat: 10 10; transparent: false;"
      style="z-index: -2;"
    )

    a-sky(src="#sky" rotation="0 0 0" position="0 -100 0")

    //Camera with Child Cursor
    a-camera
      a-cursor(cursor-interactable)